<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a routerLink="/">MEAN Stack Demo</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="wizardIsAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
      </li>
      <li *ngIf="!wizardIsAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!wizardIsAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="wizardIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
      <li *ngIf="wizardIsAuthenticated">
        <button mat-button (click)="onProfile()">Profile</button>
        <!-- <button mat-button routerLink="/profile/{{wizardId}}">Profile</button> -->
      </li>
    </ul>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row>
    <app-mountainstats></app-mountainstats>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="wizardIsAuthenticated">
    <app-profilestats ></app-profilestats>
  </mat-toolbar-row> -->
</mat-toolbar>
