<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onResetPassword($event)" [formGroup]="resetPWForm"  *ngIf="!isLoading">
        <mat-card-title>Reset your password</mat-card-title>
        <mat-card-subtitle>You will need to enter your current password and your new password. </mat-card-subtitle>
        <mat-card-content>
        <mat-form-field>
            <input type="password" formControlName="passwordExisting" ngModel matInput placeholder="Current Password" required autocomplete="current-password">
            <mat-error *ngIf="resetPWForm.invalid">Please enter a valid password.</mat-error>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <!-- <input type="password" name="password" ngModel matInput placeholder="Password" autocomplete=new-password #passwordInput="ngModel"  required> -->
            <input type="password" formControlName="passwordInput" matInput placeholder="New Password" autocomplete=new-password required>
            <mat-error *ngIf="resetPWForm.invalid">Please enter a valid password.</mat-error>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <!-- <input type="password" name="confirmpassword" ngModel matInput placeholder="Confirm Password" autocomplete=new-password #passwordConfirmInput="ngModel"  required> -->
            <input type="password" formControlName="passwordConfirmInput" ngModel matInput placeholder="Confirm New Password" autocomplete=new-password required>
            <mat-error *ngIf="resetPWForm.invalid">Your passwords do not match.</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" type="submit" name='resetPW' *ngIf="!isLoading" [disabled]="!resetPWForm.valid" >Reset Password</button>
        </mat-card-actions>
    </form>
</mat-card>
