<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onResetPassword(resetForm)" #resetForm="ngForm" *ngIf="!isLoading">
        <mat-card-title>Enter your email address</mat-card-title>
        <mat-card-subtitle>An email will be set to you with a link to reset your password.<br>
            (The Link will only be good for 24 hours)</mat-card-subtitle>
        <mat-form-field>
        <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email autocomplete="username">
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" name='resetPW' *ngIf="!isLoading" >Send Link</button>
    </form>
  </mat-card>
